body {
    background: rgb(168, 230, 168);
}

h1 {
    background: rgb(10, 168, 216);
    text-align: center;
}

p {
    font-size: 20px;
    
}

a {
    color: rgb(5, 55, 131);
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}
